@use 'variables';

.home {
    position: relative; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: variables.$sectionColor;
    
    
    &__container {

        position: relative;
        width: 100%;
        max-width: 1200px;
        text-align: center;
        padding: 70px 50px 50px;

        @media screen and (min-width: 768px) {
            padding: 50px;
        }

        .title {
            font-size: 30px;
            color: #fff;
            margin: 0;
            padding: 0 10px 6px;

            &--small {
                font-size: 22px;
                color: #fff;
                margin: 0 0 18px;
            }
        }

        a {
            margin-top: 20px;
            text-decoration: none;
        }
    }
}