@use 'variables';

.movies {
    background-color: #fff;
    color: bisque;
    display: flex;
    text-align: center;
    justify-content: center;

    &__panel {
            padding: 40px 30px;
            max-width: 1200px;
            min-height: 400px;
            width: 100%;
        }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    
        .poster__holder {
            padding: 15px;
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            

            .film-poster {
                width: 100%;
                padding-top: 150%;
                position: relative;
                background-size: cover;
                background-position: center center;
            }
        }
    }
    
}