@use 'variables';

.movies {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    &__panel {
        position: relative;
        width: 100%;
        padding: 40px 30px;
        max-width: 1200px;
        min-height: 400px;

        @media (max-width: 768px) {
            padding: 25px 15px;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    
        .poster__holder {
            padding: 15px;
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;

            @media (max-width: 768px) {
                padding: 5px;
                width: 50%;
            }
            

            .film-poster {
                width: 100%;
                padding-top: 150%;
                position: relative;
                background-size: cover;
                background-position: center center;
            }
        }
    }
    
}